# by default only changes on the github master branch trigger apigen
# here you can specify another branch to listen on
src-branch: stable
# path inside of sources branch, see apigen --source <path>
# default: /
src-path: /src
# repository name for gh-pages branch, useful if want the api docs in a separate project
# default: same as source repository
docs-repository: acme/example
# if you don't want to use github pages, you can specify another branch for docs here
docs-branch: gh-pages
# path inside of gh-pages branch, useful if want the api docs in a sub directory
# default: /
docs-path: /docs
# path to apigen config file inside your repository, see apigen --config <file>
config: /apigen.config
# allowed file extensions, see apigen --extensions <list>
extensions: php5
# file excludes, see apigen --exclude <mask>
exclude: *no-doc*
# skipped doc path, see apigen --skip-doc-path <mask>
skip-doc-path: test/*
# skipped doc prefix, see apigen --skip-doc-prefix <value>
skip-doc-prefix: Test*
# character set of source files, see apigen --charset <list>
charset: iso-8859-1
# main project prefix, see apigen --main <value>
main: GenApiDoc
# generated documentation title, see apigen --title <value>
title: my api documentation
# documentation base url, see apigen --base-url <value>
# should only be changed, if you not use github pages!
# default: http://<owner>.github.io/<repository>/
base-url: http://example.com/
# google cse id, see apigen --google-cse-id <value>
google-cse-id: 1234567890
# google cse label, see apigen --google-cse-label <value>
google-cse-label: My doc search
# google analytics tracking code, see apigen --google-analytics <value>
google-analytics: GA-1234567890
# template config file inside your repository, apigen --template-config <file>
template-config: /path/to/my/template-config.cfg
# allowerd html tags, see apigen --allowed-html <list>
allowed-html: table,tr,td
# element grouping method, see apigen --groups <value>
groups: none
# list of elements that will appear in the search input autocomplete, see apigen --autocomplete <list>
autocomplete: classconstants
# access levels of generated elements, see apigen --access-levels <list>
access-levels: public,protected,private
# generate documentation for internal elements, see apigen --internal <yes|no>
internal: true
# generate documentation for php classes, see apigen --php <yes|no>
php: false
# generate tree view, see apigen --tree <yes|no>
tree: false
# generate documentation for deprecated elements, see apigen --deprecated <yes|no>
deprecated: true
# generate list of tasks, see apigen --todo <yes|no>
todo: true
# generate highlighted source code, see apigen --source-code <yes|no>
source-code: false
# add documentation download link, see apigen --download <yes|no>
download: true
# save checkstyle report for poorly documented elements inside gh-pages repository, see apigen --report <file>
report: /path/to/checkstyle.report
# delete files generated in the previous run, see apigen --wipeout <yes|no>
wipeout: false
